.input-icons i {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}

.form-group {
    position: relative;
}

.in_log {
    text-indent: 30px;
    height: 20px;
}

.loginImage {
    background-image: url(/images/register-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-position: center center;
}

.background-white {
    
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 25px;
}

.create {
    text-align: center;
}

.user-icon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px white;
    padding: 0.5em 0.6em;
}


.user-center {
    margin-left: auto;
    margin-right: auto;
}

.background-none {
    
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: transparent;
    border-radius: 25px;
}

.create {
    text-decoration: none;
}

.center-justify {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-size {
    height: 100vh;
}

.row-size {
    height: 100vh;
}

.center-position {
    margin: auto;
}

.fa-user-circle {
    color: white;
}



